body {
  padding-top: 2em;
  text-align: center;
  font-family: 'Baloo Tammudu 2', cursive;
}

h1 {
  font-size: 2rem;
  text-align:center;
  color: #000f82;
  text-transform: uppercase;
  letter-spacing: 0.8px
}

h2{
  max-width: 85%;
  margin: 0.5em auto;
  font-weight: 500
  
}

button {
  margin: 0 auto;
  border: none;
  padding: 0.5em 2em;
  background-color: #f5335b;
  color: white;
  text-transform: uppercase;
  cursor: pointer; 
  border-radius: 1em; 
  
  letter-spacing: 1px;
}

button:disabled{
  cursor: auto;
  background-color: grey;
}

textarea {
  width: 85%;
  padding: 1em;
  margin: 0 auto;
  border-radius: 0.5em;
  border: 1px solid black;
  height: 10em;
  background-color: white;
  
}

textarea:disabled {
  background-color: #e3e3e3;
}